  {% extends 'base.html' %}
  {% block content %}
            <div class="shadow card">
                <div class="card-body">
                    <h5>{{task.name}}</h5>
                    <p><b>{{task.priority}}</b></p>
                    <p><b>{{task.date}}</b></p>
                    <a href="{% url 'delete' task.id %}" class="btn btn-danger">Done</a>
                    <a href="{% url 'update' task.id %}" class="btn btn-primary">Update</a>
                </div>

            </div>
  {% endblock %}